@import "~bootstrap/dist/css/bootstrap.min.css";
@import './style/uploader';
@import './style/canvas';
@import "./style/window-controls";

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins-Regular.ttf") format('truetype');
}

h1 {
	margin-top: 0px;
}