.window-controls li {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	-webkit-app-region: no-drag;
}

.window-controls li:nth-child(1) {
	background-color: #fe5e59;
}

.window-controls li:nth-child(2) {
	background-color: #fec42f;
}

.window-controls li:nth-child(3) {
	background-color: #2bd648;
}